.table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin: 0;
    padding: 0;
  }
/* Ajoutez ce style pour styliser les boutons de pagination */
.pagination-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-buttons button {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  border: 1px solid #ccc;
  cursor: not-allowed;
}
