<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  <app-client-navbar></app-client-navbar>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <app-setting-panel></app-setting-panel>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar [role]="'client'"></app-sidebar>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        <!-- <button (click)="test()">test</button> -->

        <h1>Bienvenu!</h1>

        <div class="row">
          <div class="col-md-4 grid-margin" *ngFor="let service of services">
            <div class="card" style="overflow: hidden;">
              <div class="card-people" style="text-align: center;padding-top: 0;">
                <div class="img-container">
                  <img class="img-contained" [src]="service.photo" alt="service.nom">
                </div>
                <div class="weather-info">
                  <button type="button" class="btn btn-danger btn-rounded btn-icon" *ngIf="service.isPreference === 0" (click)="addPreference(service._id)">
                    <i class="ti-plus"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded btn-icon" *ngIf="service.isPreference === 1" (click)="removePreference(service._id)">
                    <i class="ti-check"></i>
                  </button>
                </div>
                <h3>{{service.nom}}</h3>
                <div class="row">
                  <div class="col-md-6 align-self-center">
                    <h4>{{service.prix ? formatNumber(service.prix) : 0}} Ar</h4>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-block" (click)="takeRendezVous(service._id)">
                      Prendre Rendez-Vous
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- End custom js for this page-->
