<div class="container">
  <h2>Vos horaires</h2>
  <app-horaire-form [selectedHoraire]="selectedHoraire" [isUpdate]="update" [idEmploye]="idEmploye" (onCancel)="clearScreen()"></app-horaire-form>
  <div *ngIf="selectedHoraire && delete">
    <p>Supprimer l'horaire {{jourSemaine[selectedHoraire.jour ? selectedHoraire.jour : 0]}} de {{selectedHoraire.debut}} à {{selectedHoraire.fin}}</p>
    <button (click)="deleteService()">Confirmer</button>
    <button (click)="clearScreen()">Annuler</button>
  </div>
  <table border="0">
    <tr>
      <th>Jour</th>
      <th>Debut</th>
      <th>Fin</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let horaire of horaires">
      <td>{{jourSemaine[horaire.jour ? horaire.jour : 0]}}</td>
      <td>{{horaire.debut}}</td>
      <td>{{horaire.fin}}</td>
      <td>
        <button (click)="fillUpdateForm(horaire)">modifier</button>
        <button (click)="openDeleteConfirmation(horaire)">supprimer</button>
      </td>
    </tr>
  </table>
  <button type="button" (click)="test()">Test</button>
</div>
