<div class="container-scroller">
  <div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="assets/images/logo.svg" class="mr-2"
            alt="titre" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
            alt="titre" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="assets/images/logo.svg" class="mr-2"
                alt="titre" /></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                alt="titre" /></a>
          </div>
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                  <!-- <img [src]="employee.photo" alt="{{ employee.nom }} {{ employee.prenom }}" width="100" height="100"
                    alt="profile" /> -->
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                  <!-- <a class="dropdown-item" (click)="logout()"> -->
                  <a class="dropdown-item">
                    <i class="ti-power-off text-primary"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
              data-toggle="offcanvas">
              <span class="icon-menu"></span>
            </button>
          </div>
        </nav>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <app-setting-panel></app-setting-panel>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar [role]="'employe'"></app-sidebar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <h2>Vos horaires</h2>

          <div class="row">
            <div class="col-12 grid-margin">
              <app-horaire-form [selectedHoraire]="selectedHoraire" [isUpdate]="update" (onCancel)="clearScreen()"></app-horaire-form>
            </div>

            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Jour</th>
                          <th>Debut</th>
                          <th>Fin</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let horaire of horaires">
                          <td>{{jourSemaine[horaire.jour ? horaire.jour : 0]}}</td>
                          <td>{{horaire.debut}}</td>
                          <td>{{horaire.fin}}</td>
                          <td>
                            <button class="btn btn-inverse-primary btn-rounded btn-icon" (click)="fillUpdateForm(horaire)">
                              <i class="ti-pencil"></i>
                            </button>
                            <button class="btn btn-inverse-primary btn-rounded btn-icon" (click)="directDelete(horaire)">
                              <i class="ti-trash"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <button type="button" (click)="test()">Test</button> -->
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <app-footer></app-footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
  </div>
  <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <!-- End custom js for this page-->
