<div class="container-scroller">
  
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="assets/images/logo.svg" class="mr-2" alt="titre"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="titre"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" >
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search" (click)="searchRdvDate()">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="date" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search" [(ngModel)]="date1">
              <input type="date" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search" [(ngModel)]="date2">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="assets/images/faces/face28.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" (click)="logout()">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <!-- <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <app-setting-panel></app-setting-panel>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar [role]="'employe'"></app-sidebar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Service
                            </th>
                            <th>
                              client
                            </th>
                            <th>
                              Date
                            </th>
                            <th>
                              etat
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let rdv of listeRdv">
                            <td>
                              {{rdv.service.nom}}
                            </td>
                            <td>
                              {{rdv.client.nom+ ' ' +rdv.client.prenom}}
                            </td>
                            <td>
                              {{ rdv.date | date:'yyyy-MM-dd HH:mm:ss' }}
                            </td>
                            <td>
                              {{ rdv.etat }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <app-footer></app-footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- End custom js for this page-->
  
  