<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="#"><img src="assets/images/logo.png" class="mr-2" alt="titre"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-search d-none d-lg-block">
          <div class="input-group">
            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
              <!-- <span class="input-group-text" id="search">
                <i class="icon-search"></i>
              </span> -->
            </div>
            <!-- <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
              aria-label="search" aria-describedby="search" [(ngModel)]="termeRecherche"
              (ngModelChange)="searchEmploye()"> -->
            <!-- <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
              aria-label="search" aria-describedby="search"> -->
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="assets/images/faces/face28.jpg" alt="profile" />
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <!-- <a class="dropdown-item" (click)="logout()"> -->
            <a class="dropdown-item">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
        <!-- <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#">
            <i class="icon-ellipsis"></i>
          </a>
        </li> -->
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <app-setting-panel></app-setting-panel>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar [role]="'manager'"></app-sidebar>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        <h1>Services</h1>

        <div class="row">
          <div class="col-12 grid-margin" *ngIf="create">
            <app-service-form (onClose)="clearScreen()"></app-service-form>
          </div>

          <div class="col-12 grid-margin" *ngIf="selectedService && update">
            <app-service-form [selectedService]="selectedService" (onClose)="clearScreen()"></app-service-form>
          </div>

          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <button type="button" class="btn btn-inverse-primary btn-rounded btn-icon" (click)="openCreateForm()">
                  <i class="ti-plus"></i>
                </button>

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Durée</th>
                        <th>Commission</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let service of services">
                        <td>{{service.nom}}</td>
                        <td>{{formatNumber(service.prix)}} Ar</td>
                        <td>{{formatTime(service.duree)}}</td>
                        <td>{{service.commission}}%</td>
                        <td>
                          <button type="button" class="btn btn-inverse-primary btn-rounded btn-icon"
                            (click)="openUpdateForm(service)">
                            <i class="ti-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-inverse-primary btn-rounded btn-icon"
                            (click)="directDelete(service)">
                            <i class="ti-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- End custom js for this page-->
