<div class="container">
  <form #form="ngForm" (submit)="isUpdate ? updateHoraire(form) : addHoraire(form)">
    <table border="0">
      <tr>
        <th>Jour</th>
        <th>Debut</th>
        <th>Fin</th>
      </tr>
      <tr>
        <td>
          <select id="jour" [(ngModel)]="horaire.jour" name="jour">
            <option></option>
            <option *ngFor="let jour of jourSemaine; let i = index" [value]="i">{{ jour }}</option>
          </select>
        </td>
        <td>
          <input type="time" id="debut" [(ngModel)]="horaire.debut" name="debut" />
        </td>
        <td>
          <input type="time" id="fin" [(ngModel)]="horaire.fin" name="fin" />
        </td>
      </tr>
    </table>
    <div [class.textSuccess]="succes" [class.textError]="!succes">{{ message }}</div>
    <div *ngFor="let key of errorKeys()" class="textError">
      {{ inputErrors[key] }}
    </div>
    <button type="submit">Enregistrer</button>
    <button type="button" *ngIf="isUpdate" (click)="emitCancel()">Annuler</button>
    <!-- <button type="button" (click)="test()">Test</button> -->
  </form>

</div>
