<div class="container">
    <h2>Créer un nouveau véhicule</h2>
    <form (submit)="createEmploye()" enctype="multipart/form-data">

      <label for="nom">nom :</label>
      <input type="text" id="nom" [(ngModel)]="employe.nom" name="nom" required />
      <br />
  
      <label for="prenom">prenom :</label>
      <input type="text" id="prenom" [(ngModel)]="employe.prenom" name="prenom" required />
      <br />
  
      <label for="cin"> cin :</label>
      <input type="number" id="cin" [(ngModel)]="employe.cin" name="cin" required />
      <br />

      <label for="login"> login :</label>
      <input type="text" id="login" [(ngModel)]="employe.login" name="login" required />
      <br />

      <!-- <label for="mdp"> Mot de passe :</label>
    <div class="password-container">
      <input type="{{ showPassword ? 'text' : 'password' }}" id="mdp" [(ngModel)]="employe.mdp" name="mdp" required />
      <button type="button" (click)="togglePasswordVisibility()">
        <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
      </button>
    </div>
    <br /> -->

    <label for="mdp"> Mot de passe :</label>
    <input type="{{ showPassword ? 'text' : 'password' }}" id="mdp" [(ngModel)]="employe.mdp" name="mdp" required />
    <button type="button" (click)="togglePasswordVisibility()">
      <i class="fas fa-eye" *ngIf="!showPassword"></i>
      <i class="fas fa-eye-slash" *ngIf="showPassword"></i>
    </button>
    <br />

      <label for="genre">Genre :</label>
    <select id="genre" [(ngModel)]="employe.genre" name="genre" >
      <option></option>
      <option value="homme">Homme</option>
      <option value="femme">Femme</option>
    </select>
  
      <label for="photo">Photo :</label>
      <input type="file" id="photo" (change)="onPhotoChange($event)" name="photo" accept="image/*">

      <button type="submit">Ajouter Employé</button>



    </form>

</div>